<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="row" style="padding-top: 10px;">
    <div class="col-xs-1 float-left">
          <%= link_to 'Back',patients_path,class: "btn btn-default" %>
    </div>
    <div class="col-xs-2 pull-right">
      <%= link_to 'New Appointment',new_meeting_path,class: "btn btn-default btn-block" %>
    </div>
</div>
  <h1 style="text-align: center;">The Existing Appointments of Dr.<%= current_user.email.split('@')[0].capitalize %></h1>
  <br>
  <table class="table table-hover table-striped " style="text-align: center;">
  <thead>
    <tr>
      <th class="col-xs-1" style="text-align: center">Patient-ID</th>
      <th class="col-xs-1" style="text-align: center">Patient_Name</th>
      <th class="col-xs-1" style="text-align: center">Appointment Purpose</th>
      <th class="col-xs-1" style="text-align: center">Start_time</th>
      <th class="col-xs-1" style="text-align: center">End_Time</th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>  
        <td><%= meeting.patient.id %></td>
        <td><%= meeting.patient.name %></td>
        <td><%= meeting.name %></td>
        <td><%= meeting.start_time %></td>
        <td><%= meeting.end_time %></td>
        <td width="10%" class="text-right col-xs-1">
          <%= link_to 'Edit',edit_meeting_path(meeting), class: "btn btn-default",color: "black" %>
          <%= link_to 'Delete', meeting, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-outline-danger " %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div style="text-align: center;background-color: none">
<%= will_paginate @meetings %>
</div>
<div class="col-md-12" style="text-align: center;">
    <%= search_form_for @search do |f| %>
    <%= f.text_field :name_cont, class: 'form-control center-block',placeholder: "Appointment Purpose" %>
    <%= link_to "Clear", request.path, class: "btn btn-default" %>
    <%= f.submit class: 'btn btn-primary', style: "margin-left : 3px"%>
    <% end %>
</div>
</body>
</html>