<p id="notice"><%= notice %></p>

<div class="container-sm">
<div class="modal-body row">
  <div class="col-md-7">
    <h1 class="text-center">Already Existing Appointments of Dr.<%= current_user.email.split('@')[0].capitalize %></h1>
    <%= month_calendar events: @user_meeting do |date, meetings| %>
    <%= date %>
    <% meetings.each do |meeting| %>
      <div>
        <%= meeting.patient.name%> has
        <%= link_to meeting.name, meeting %> 
      </div>
    <% end %>
<% end %>
      
  </div>
  <div class="col-md-5">
    <div class="text-center">
      <h1>Enter the Details of the Meeting</h1>
      <%= render 'form', meeting: @meeting %>
      <%= link_to "Show all Appointments", meetings_path,class: "btn btn-info" %>
  </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    var patients;
      patients = $('#meeting_patient_id').html();

      $('#meeting_user_id').change(function() {
        var selected_user, new_patients, users;
        users = $('#meeting_user_id').html();
        selected_user = $('#meeting_user_id option:selected');
        new_patients = $(patients).filter("optgroup[label='" + selected_user.text() + "']").html();
        return $('#meeting_patient_id').html(new_patients);
      });
    });
</script>