<div class="container-xs">
<div class="modal-body row">
  <div class="col-xs-3 vfill text-center" style="background-color: rgb(0,128,128);color: white;">
    <h1>Good to have you Onboard</h1>
    <%= image_tag"dental.svg",width: "200px" %>
  </div>
  <div class="col-xs-9 pd-t-50">
    <div class="container-fluid text-center">
    <h1>Sign up</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Enter the Email",class: "form-control text-center center-block"%>
    </div>
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password",placeholder: "Enter the Password",class: "form-control text-center center-block" %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "Re-Enter the Password",class: "form-control text-center center-block" %>
    </div>
    <div class="field">
      <%= f.label :Role %>
      <%= f.select :roles,Role.where.not(name:'admin').pluck(:name),value_method: :name,required: :true %>
    </div>
  </br>
    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
    <% end %>
    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
</div>

