<%= form_with(model: patient, local: true) do |form| %>
  <% if @patient.errors.full_messages.any? %>
    <% @patient.errors.full_messages.each do |error_message| %>
      <%= error_message if @patient.errors.full_messages.first == error_message %> <br />
    <% end %>
  <% end %>
  
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name,placeholder: "Name of the Patient",class: "form-control"%>
  </div>
  <div class="form-group">
    <%= form.label :age %>
    <%= form.number_field :age,placeholder: "Enter age",class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email,placeholder: "Enter Email",class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_area :address,class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :details %>
    <%= form.text_area :details,class: "form-control" %>
  </div>
  <div class="form-inline">
    <%= form.label :date %>
    <%= form.datetime_field :date,class: "form-control" %>
  </div>
  </br>
  <div class="actions">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
