<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <% if has_role? :nurse %>
    <div class="row pd-t-10">
      <div class="col-xs-1 pull-right">
            <%= link_to 'Show Meetings',meetings_path,class: "btn btn-default" %>
      </div>
    </div>  
  <% elsif has_role?(:admin) || has_role?(:doctor) %>
  <div class="row pd-t-10">
    <div class="col-xs-1">
          <%= link_to 'New Patient',new_patient_path,class: "btn btn-default" %>
    </div>
    <div class="col-xs-1 pull-right dropdown-menu-right">
        <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Appointments</button>
          <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton">
            <li><a href="#"><%= link_to('Schedule an Appointment',new_meeting_path) %></a></li>  
            <li><a href="#"><%= link_to('View all Appointments',meetings_path) %></a></li>
          </ul>
        </div>
    </div>
  </div>
  <% end %>
  
    
    
  <% if has_role?(:admin) %>
    <h1 class="text-center">Admin :All the Existing Patients</h1>  
  <% elsif has_role?(:doctor) %>
    <h1 class="text-center">All the Patients of Dr.<%= current_user.email.split('@')[0].capitalize %></h1>
    <% elsif has_role?(:nurse) %>
    <h2 class="text-center">Welcome Nurse <%= current_user.email.split('@')[0].capitalize %> Here is the list of All Patients</h2>
  <% end %>

<table class="table table-hover table-striped text-center">
  <thead>
    <tr>
      <th class="col-xs-1 text-center"><%= sort_link @search, :id, "Patient_ID"%></th>
      <th class="col-xs-1 text-center"><%= sort_link @search, :Name, "Name"%></th>
      <th class="col-xs-1 text-center"><%= sort_link @search, :age, "Age"%></th>
      <th class="col-xs-2 text-center"><%= sort_link @search, :email, "E-mail"%></th>
      <th class="col-xs-1 text-center"><%= sort_link @search, :address, "Address"%></th>
      <th class="col-xs-2 text-center"><%= sort_link @search, :details, "Details"%></th>
      <th class="col-xs-1 text-center"><%= sort_link @search, :date, "date"%></th>
      <% if has_role?(:admin) || has_role?(:nurse) %>
        <th class="col-xs-1 text-center"><%= sort_link @search, :user_email, "Doctor Name"%></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>  
        <td><%= patient.id %></td>
        <td><%= patient.name %></td>
        <td><%= patient.age %></td>
        <td><%= patient.email %></td>
        <td><%= patient.address %></td>
        <td><%= patient.details %></td>
        <td><%= patient.date %></td>
        <% if has_role?(:nurse) || has_role?(:admin) %>  
          <td>Dr.<%= patient.user.email.split('@')[0] %></td>
        <% end %>
        <% unless has_role?(:nurse)%>
          <td width="10%" class="text-right col-xs-1">
          <%= link_to 'Edit',edit_patient_path(patient), class: "btn btn-default",color: "black" %>
          <%= link_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-outline-danger " %>
          </td>
        <% end  %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
<%= will_paginate @patients %>
</div>
<% if has_role?(:admin) || has_role?(:nurse)  %>
  <div class="col-md-12 text-center">
    <%= search_form_for @search do |f| %>
    <%= f.text_field :name_or_details_or_email_or_address_or_age_or_user_email_cont, class: 'form-control center-block',placeholder: "Name/age/Email/Address/Details" %>
    <%= link_to "Clear", request.path, class: "btn btn-default" %>
    <%= f.submit class: 'btn btn-primary mg-l-3'%>
    <% end %>
</div>    
<% elsif %>
  <div class="col-md-12 text-center">
    <%= search_form_for @search do |f| %>
    <%= f.text_field :name_or_details_or_email_or_address_or_age_cont, class: 'form-control center-block',placeholder: "Name/age/Email/Address/Details" %>
    <%= link_to "Clear", request.path, class: "btn btn-default" %>
    <%= f.submit class: 'btn btn-primary mg-l-3'%>
    <% end %>
</div>  
<% end %>

</body>
</html>