<h3 class="text-center">Welcome Dr.<%= current_user.email.split('@')[0].capitalize %></h3>
  <div class="container-sm">
<div class="modal-body row">
  <div class="col-md-7">
    <h1 class="text-center">Already Existing Patients</h1>
      <table class="table table-bordered table-hover text-center">
        <thead class="thead-dark" >
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Age</th>
            <th class="text-center">E-Mail</th>
            <th class="text-center">Date</th>
          </tr>
        </thead>
      <tbody>
          <% @user_patient.each do |p| %>
          <tr>
              <td><%= p.name %></td>
              <td><%= p.age %></td>
              <td><%= p.email %></td>
              <td><%= p.date %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="text-center">
        <%= will_paginate @user_patient %>
      </div>
  </div>
    <div class="col-md-5">
      <h1 class="text-center">Enter the Details of the New Patient</h1>
      <%= render 'form', patient: @patient %>
      <%= link_to 'Back', patients_path,class: "btn btn-default" %>
    </div>  
</div>
</div>  
