<% if notice %><p class="alert alert-success"><%= notice %></p><% end %>
<% if alert %><p class="alert alert-danger"><%= alert %></p><% end %>
<!DOCTYPE html>
<html>
  <head>
    <title>Doctor Application</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      .footer {
          text-align: center;
          background-color: rgb(0, 83, 156);
          color: white;
          position: fixed;
          width: 100%;
          bottom:0;
          left: 0;
          right: 0;

      }
    </style>
  </head>
  <body>
    <div class="container-sm">
      <%= yield %>
    </div>
      <div class="footer">
        <h2>Contact for any issues</h2>
      </div>
  </body>
</html>