<!DOCTYPE html>
<html>
  <head>
    <title>Doctor Application</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-header">
        <% if has_role?(:nurse) %>
          <a class="navbar-brand img" href="/meetings">
          <% else %>
          <a class="navbar-brand img" href="/patients">  
        <% end %>
        <img src="https://d2i6vk5bmh3r0a.cloudfront.net/images_2_0/assets/svg/invis_logo_black-f6c4c07a1c4fd883eaa7700fa407c0b1eee748ec5e39566d4526419a4d72a89a.svg" style="width: 120px">
        </a>
      </div>
      <% if user_signed_in? %>
      <div class="nav navbar-right">
        <div class="dropdown">
          <button type="button" class="btn btn-success toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin: 10px"><span class="glyphicon glyphicon-th"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Logged in as <%= current_user.email%>
                </a></li>
                <li><a href="#"><%= link_to('Log Out',destroy_user_session_path, :method => :delete) %></a></li>
              </ul>
        </div>
    </div>
    <% end %>  
  </nav>
  <% if notice %><p class="alert alert-success"><%= notice %></p><% end %>
  <% if alert %><p class="alert alert-danger"><%= alert %></p><% end %>
    <div class="container-sm">
      <%= yield %>
    </div>
      <div class="footer">
        <a class="footer-color" href="/footer" ><h4>Contact us for any Issues</h4></a>
      </div>
  </body>
</html>